@model TiendaVirtual_CarritoCompra.Models.Carrito

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de querer eliminar este artículo del carrito?</h3>
<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Productos.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Productos.PathImagen)
        </dt>

        <dd>
            <img src="@Url.Content("~/Content/Images/" + @Path.GetFileName(@Model.Productos.PathImagen))" width="150" height="150" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
