@model IEnumerable<TiendaVirtual_CarritoCompra.Models.CarritoCompra>

@{
                /**/

                ViewBag.Title = "Carrito";
                var IsCarritoEmpty = Session["CARRITO"] == null;
}
<h2>Su Carrito de la Compra</h2>

@if (IsCarritoEmpty)
{
    <h3>No tiene artículos en su carrito de la compra</h3>
}
@if (!IsCarritoEmpty)
{
    <p>
        @Html.ActionLink("Tramitar Pedido", "Tramitar", "Pedido", null)
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.PathImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/Images/" + @Path.GetFileName(item.Productos.PathImagen))" width="75" height="75" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Productos.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Productos.Id }) |
                    @Html.ActionLink("Volver a la Lista", "Index", "Productos")
                </td>
            </tr>
        }

    </table>

    <hr />

    <div>
        <dl class="dl-horizontal">
            <dt>
                Total de productos:
            </dt>

            <dd>
                @((ViewBag.TotalProductos).ToString("C2"))
            </dd>

            <dt>
                Gastos de envío:
            </dt>

            <dd>
                0,00 €
            </dd>

            <dt>
                TOTAL:
            </dt>

            <dd>
                @((ViewBag.TotalProductos).ToString("C2"))
            </dd>

        </dl>
    </div>
}
