@model IEnumerable<TiendaVirtual_CarritoCompra.Models.Pedidos>

@{
    ViewBag.Title = "Pedido";
}

<h2>Pedido</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Cancelar", "Cancel", new { id = item.Id }) |  
            @Html.ActionLink("Continuar Pago", "GenerateBill", "Facturas", new { id = item.Id }, null)            
        </td>
    </tr>
}

</table>
